%h1 Listing patients

%table
  %tr
    %th Name
    %th Email
    %th Doctor
    %th
    %th
    %th

  - @patients.each do |patient|
    %tr
      %td= patient.name
      %td= patient.email
      %td= patient.doctor.name
      %td= link_to 'Show', patient
      %td= link_to 'Edit', edit_patient_path(patient)
      %td= link_to 'Destroy', patient, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Patient', new_patient_path
